.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
    cursor: crosshair;
}

.hoverNode circle {
    fill: #fff;
    stroke: #99d3d3;
    stroke-width: 3px;
}
 
.node text { font: 12px sans-serif; }
 
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


.commands-btns {
	text-align: right;
	padding-bottom: 30px;
}

	.infos-parse {
		text-align: left;
	}

		.infos-parse-code {
			background-color: #ccc;
			padding: 5px;
			border-radius: 2px;
		}

	.textearea-parse {
		width: 100%;
		height: 180px;
	}

	.btn-parse {

	}

.dragLine{
    fill: none;
    stroke: #ff5353;
    stroke-width: 2px;
}

