<div>
  <tree-git ng-if="dataTree"></tree-git>
    
  <div class="commands-btns">
    <p class="infos-parse">Command ot enter in your shell : <span class="infos-parse-code">git log --pretty=format:'%h#%p#%cr|%d|%an|%s' --all</span></p>
    <textarea class="textearea-parse" ng-model="gitLgResText" placeholder="copy/paste the result of command"></textarea>
    <a class="btn btn-lg btn-success btn-parse" ng-click="parse()">Parse!</a>
  </div>

  <!--<ul>
    <li>here the results</li>
  <ul>-->
      
</div> 
